nav{
    float: right;
    width: 50vw;
    ul{
        display: flex;
        align-content: flex-end;
        justify-content: space-between;
    }
}

#navigation{
    li{
        margin-right: 1vw;
    }
    li:last-of-type{
        margin-right: 0;
    }  
    a{
        font-size: 3vh;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
    }     
}