nav{
    margin: 0 auto;
    width: 50vw;
    
    ul{
        display: flex;
        align-content: flex-end;
        justify-content: space-between;
    }
}

#navigation{
    li{
        margin-right: 1vw;
    }
    a{
        font-size: 3vh;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-weight: 700;

        &:after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 0%;
            height: 100%;
            background-color: rgba(255,255,255,0.4);
            transition: none;
        }

        &:hover:after {
            width: 120%;
            background-color: rgba(255,255,255,0);
            transition: all 0.3s ease-out;
        }
    }     
}