@import 'reset';

canvas{
    background-color: black;
    position: absolute;
    left:0;
    top:0;
    z-index: -9999;
}

header, footer{
    height: 10vh;
    z-index: 1;
}
footer{
    position: absolute;
    left:0;
    bottom:0;
}

section#home{
    height: 80vh;
    width:100vw;
    z-index: 9999;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

//NAV
nav{
    float: right;
    width: 50vw;
}
nav ul{
    display: flex;
    align-content: flex-end;
}

#navigation li{
    margin-right: 1vw;
}
#navigation li:last-of-type{
    margin-right: 0;
}
#navigation a{
    font-size: 3vh;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
